:host ::ng-deep {
  .mat_list_item {
    .mdc-list-item__primary-text {
      display: flex !important;
      align-items: center !important;
      gap: 1rem;
      color: var(--navy-blue);
    }
  }
  mat-icon {
    overflow: unset !important;
  }
}

.navbar-title {
  font-size: 1.2rem;
  font-weight: 500;
  white-space: nowrap;
  color: var(--navy-blue);
}
.sidenav-header {
  height: 2.4rem;
}
